{% extends "base.html" %}

{% block title %}User Login{% endblock %}

{% block head %}User Login{% endblock %}

{% block content %}
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	
	{% if next %}
		<form method="post" action="/?next={{next}}">
	{%else%}
		<form method="post" action=".">
	{%endif%}
	
		{% csrf_token %}
		
		<p><label for="id_username">Username</label>
		{{ form.username }}</p>
		<p><label for="id_password">Password</label>
		{{ form.password }}</p>
		
		<input type="submit" value="login" />
	</form>
	
{% endblock %}