<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<title>Periodic Jobs using Python | {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/contents/css/style.css" type="text/css" />
		<script type="text/javascript" src="/contents/js/jquery-1.11.1.js"></script>
		{% block external %} {% endblock %}
	</head>
	<body>
		<div id="id_navigator">
			<ul id="list-nav">
				<li><a href="/">home</a></li> 
				{% if user.is_authenticated %}
				<li><a href="/user/{{ user.username }}/">{{ user.username }}</a></li>
				<li><a href="/logout">logout</a></li>
				{% else %}
				<li><a href="/login/">login</a></li>
				<li><a href="/register/">register</a></li>
				{% endif %}
			</ul>
		</div>
		<div id="id_wrap">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
