<!-- Ajax 폼으로 변경 필요 -->
<div id="id_entry_list">
	{% if entries %}
		<table class="monitoring_entries">
			<thead>
		      <tr>
		        <th><span>Title</span></th>
		        <th><span>URL</span></th>
		        <th><span>Keyword</span></th>
		        <th><span></span></th>
		        <th><span></span></th>
		      </tr>		
			</thead>
			<tbody>
			{% for entry in entries %}
				<tr>
					<td>
						{{ entry.title|escape }}
					</td>
					<td>
						{{ entry.site.url|escape }}
					</td>
					<td>
						{{ entry.keyword.text|escape }}
					</td>
					<td>
						<button id="id_btn_edit_{{entry.title}}" title={{entry.title}} onclick="edit_click(this.title)">Edit</button>
					</td>
					<td>
						<button id="id_btn_delete_{{entry.title}}" title={{entry.title}} onclick="delete_click(this.title)">Delete</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No monitoring site found.</p>
	{% endif %}
</div>