<form id="save-form" method="post" action="/save/">{% csrf_token %}

	<div class="form-group">
    	<label class="control-label" for="title">Title</label>
       <input class="form-control" type="text" name="title"  
       		placeholder="Enter a name of entry">
	</div>
	
   	<div class="form-group">
    	<label class="control-label" for="url">URL</label>
       <input class="form-control" type=url name="url"  
       		placeholder="Enter URL">
   	</div>	   		
   	
   	<div class="form-group">
    	<label class="control-label" for="keyword">keyword</label>
       <input class="form-control" type="text" name="keyword" 
       		placeholder="Enter keywords you want to monitor">
   	</div>	   	   	

	<button type="submit" class="btn btn-default">Add</button>
	<button id="id_cancel" type="button" class="btn btn-default" onclick="window.location.replace('/user/{{ username }}')" >Cancel</button>	

</form>