{% extends "base.html" %}

{% block title %}
	Main
{% endblock title  %}

{% block external %}
	<script type="text/javascript" src="/contents/js/index.js"></script>	
{% endblock %}

{% block content %}
		<div id="id_header">
		
		</div>
		
		<div id="id_middle">
	
			{% if user.is_authenticated %}
				 {% include "entry_list.html" %} 	
				 <button id="id_btn_create_entry">
				 	Create Entry
				 </button>		
			{% else %}
				Please Login
			{% endif %}
			<!-- 
			<button id="id_btn_startbeat">
				Start Beat 
			</button>
			<button id="id_btn_stopbeat">
				Stop Beat
			</button>
			 -->
		</div>
		
		<div id="id_footer">
		
		</div> 
{% endblock content %}