{% extends "base.html" %}

{% block title %}
	Main
{% endblock title  %}

{% block external %}
	<script type="text/javascript" src="/contents/js/index.js"></script>	
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12 text-center">
	    	<h2>Welcome to PPomppu Monitoring WebApp</h2>
	     
			{% if user.is_authenticated %}
				<p>Welcome, {{ user.username }}.</p>
			{% else %}
				<p class="lead">Please <a href="/login/">log in!</a></p>
			{% endif %}
	   </div>
	</div>
	
	{% if user.is_authenticated %}
		<h4>Notifications to you</h4>
		
	{% endif %}
{% endblock content %}