{% extends "base.html" %}

{% block title %}
	Main
{% endblock title  %}

{% block external %}
	<script type="text/javascript" src="/contents/js/index.js"></script>	
{% endblock %}

{% block content %}
	<div id="id_wrap">
		<div id="id_header">
			<h2>Periodic Job using Python</h2>
		</div>
		
		<div id="id_middle">
			<p>Monitoring Web Pages!</p>
			<form>
				URL: <input type="url" name="url"><br>
				Keywords: <input type="text" name="keywords"><br>
				<input type="submit" value="submit">
			</form>
			
			<button id="id_btn_startbeat">
				Start Beat 
			</button>
			<button id="id_btn_stopbeat">
				Stop Beat
			</button>
		</div>
		
		<div id="id_footer">
		
		</div> 
		
	</div>
	
{% endblock content %}