
{% extends "base.html" %}

{% block external %}
	<script type="text/javascript" src="/contents/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/contents/js/user_page.js"></script>		
	<script type="text/javascript" src="/contents/js/helpers.js"></script>			
{% endblock %}

{% block title %}{{ username }}{% endblock %}

{% block head %}Monitoring Entries for {{ username }}{% endblock %}

{% block content %}
	<h3> Monitoring Lists </h3>
	{% include "entry_list.html" %}
	
	{% if noe == 0  %}
		<p>No monitoring site found.</p>
	{% endif %} 		
	
	<button id="id_btn_create_entry" type="button" class="btn btn-default">
	 	Create Entry
	</button>		

	<div id="dialog-confirm"></div>
	
{% endblock %}