
{% extends "base.html" %}

{% block external %}
	<script type="text/javascript" src="/contents/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/contents/js/user_page.js"></script>		
{% endblock %}

{% block title %}{{ username }}{% endblock %}

{% block head %}Monitoring Entries for {{ username }}{% endblock %}

{% block content %}
	<button id="id_btn_startbeat">
		Start Beat 
	</button>
	<button id="id_btn_stopbeat">
		Stop Beat
	</button>
	
	<button id="id_btn_create_entry">
	 	Create Entry
	</button>		
	{% include "entry_list.html" %}
	<div id="dialog-confirm"></div>
{% endblock %}